@font-face {
    font-family: 'DOSPilgiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.contact-form img{
    width: 20%;
    height: auto;
    margin: 0 6% 0 6%;
}


.intro{
    font-family: 'DungGeunMo';
}


.intro h1 span {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #e0eafb;
}

.biography ul {
    margin-top: 10px;
}

.copyright a {
    color: #3055bd;
}

.resume-title h3 {
    color: #28282800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #282828;
}

.intro img {
    width: 1.7%;
    height: auto;
}
